
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- linked js file -->
    <!-- <script src="index.js"></script> -->
    <!-- <script src="if_else.js"></script> -->
    <!-- <script src="loop.js"></script> -->
    <!-- <script src="arrays.js"></script> -->
    <!-- <script src="objects.js"></script> -->
    <!-- <script src="exercise.js"></script> -->
    <!-- <script src="function.js"></script> -->
    <!-- <script src="method.js"></script> -->
    <!-- <script src="exercise1.js"></script> -->
    <!-- <script src="after_method.js"></script> -->
    <!-- <script src="after_method_2.js"></script> -->
    <script src="/Users/deepak.kumar/Documents/JavaScript_Tutorial/eXercise/try.js"></script>
    
</body>
</html>